@model CategoryItemAddViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="section">
    <h3 class="section-header">Edit Media Item</h3>
    <hr class="section-divider" />
    <h5>From category <strong class="text-black-50">@TempData["CategoryTitle"]</strong></h5>
    @{
        TempData.Keep("CategoryTitle");
    }
    <hr class="section-divider" />
    <div class="row mt-3">
        <div class="col-md-6">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="CategoryId" />
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" rows="4" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MediaTypeId" class="control-label"></label>
                    <select asp-for="MediaTypeId" class="form-control" asp-items="@Model.MediaTypes">
                        <option value="">---Please Select a Media Kind---</option>
                    </select>
                    <span asp-validation-for="MediaTypeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateTimeItemReleased" class="control-label"></label>
                    <input type="text" name="DateTimeItemReleased" id="DateTimeItemReleased"
                           value="@Model.DateTimeItemReleased.ToString("dd.MM.yyyy")" class="datepicker form-control" />
                    <span asp-validation-for="DateTimeItemReleased" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-orchid" /> |
                    <a class="btn btn-outline-dark" asp-action="Index" asp-route-categoryId="@Model.CategoryId"><i class="fas fa-angle-double-left mr-1 ml-1"></i>Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_DateScriptsPartial");
    }
}
