@model int
   
        <a asp-action="Edit" asp-route-id="@Model" class="btn btn-outline-dark"><i class="fa-solid fa-pen-to-square mr-2 ml-2"></i>Edit</a> 
        <a asp-action="Details" asp-route-id="@Model" class="btn btn-outline-dark"><i class="fa-solid fa-info mr-2 ml-2"></i>Details</a> 
        <a asp-action="Delete" asp-route-id="@Model" class="btn btn-outline-dark"><i class="fa-solid fa-trash-can mr-2 ml-2"></i>Delete</a>
