@model DisplayContentForUserViewModel


<div class="section">
	<h3 class="section-header">Watching @Model.Title</h3>
	<hr class="section-divider" />
	<h5>From category <strong class="text-black-50">@TempData["CategoryTitle"]</strong></h5>
	@{
		TempData.Peek("CategoryTitle");
	}
	<hr class="section-divider" />

	@if (Model.VideoLink != null)
	{
		<div class="row container-fluid align-content-sm-center">
			<div class="mt-1 col-md-10 offset-1">
				<div id="VideoContent" class="videoContainer mt-3">
					<iframe  width="550" height="350" src="@Model.VideoLink" allowfullscreen="" oncanplay="true" frameborder="0">
					</iframe>					
				</div>
			</div>
		</div>
	}
	@if (Model.HtmlContent != null)
	{
		<div class="row container-fluid align-content-sm-center">
			<div class="mt-1 mb-3 col-md-10 offset-1">
				<div id="TextContent" class="mt-3 text-justify">
					@Html.Raw(Model.HtmlContent)
				</div>
			</div>
		</div>
	}
	
</div>